 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I have a BSc in Artificial Intelligence and am currently doing my Master's in Data Science at the Radboud University. I am mostly interested in Deep Learning and Machine Learning in general. If you want to get in touch, send an email to <a href="mailto:mail@jorisvanvugt.com">mail@jorisvanvugt.com</a></p>
                </div>
                <div class="col-lg-4">
                    <p>In my spare time, I like to read HackerNews and work on side projects.</p>
                </div>
            </div>
        </div>
    </section>