<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I have a MSc in Computer Science from Radboud University, Nijmegen. I currently work at TomTom as R&D
                    Engineer, building HD-maps for self-driving cars at scale.</p>
            </div>
            <div class="col-lg-4">
                <p>My research interests are:
                    <ul>
                        <li>
                            <p>Deep Learning + SLAM</p>
                        </li>
                        <li>
                            <p>Geometric (3D) deep learning</p>
                        </li>
                        <li>
                            <p>Self-supervised learning</p>
                        </li>
                        <li>
                            <p>Adversarial training</p>
                        </li>
                        <li>
                            <p>Structured prediction</p>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</section>
